body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 100px;
    transition: smooth .1s ease-out;
}